@import url("https://fonts.cdnfonts.com/css/auto-mode");
@import url("https://fonts.cdnfonts.com/css/neonize");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid greenyellow; */
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(224, 203, 166);
}



.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95.4vh;

  background: url(MVOE.gif);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100%;
  background-position: center;
  background-position-x: 0px;
  background-position-y: 52%;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgb(0, 0, 0);
  color: rgb(224, 203, 166);
}
/* .startfx {
  filter: blur(100px);
  transition: filter 0.7s ease-in-out;
}

.startfx:hover {
  filter: blur(0px);
} */

h1 {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8.5vw;

  color: rgba(255, 255, 255, 0);
  font-family: "Auto Mode", sans-serif;
  /* font-family: 'Neonize', sans-serif; */
}

main {
  margin: 0px;
  padding: 0px;
  background-color: rgb(32, 37, 42);
}

h2 {
  color: rgb(237, 184, 97);
}

/* div.cards {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 4vw;
  padding: 4vw;
} */

/* .card {
  background-color: rgb(46, 56, 67);
  border-radius: 20px;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;
} */

/* .card:hover {
  width: 225px;
} */

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

footer a {
  color: rgb(237, 184, 97);
  text-decoration: none;
  display: inline-flex;
  transition: color 0.6s ease;
}
footer a:hover {
  color: white;
}
footer p {
  color: rgb(237, 184, 97);
  text-decoration: none;
  display: inline-flex;
}

footer.flex33 {
  width: 33.33333%;
  display: center;
  align-items: center;
  justify-content: center;
}

.fdiv3 {
  align-items: stretch;
}
