/* *{
    border: 1px solid greenyellow;
} */

body {
    
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/fotos-kostenlos/ein-gemaelde-eines-bergsees-mit-einem-berg-im-hintergrund_188544-9126.jpg?t=st=1737040155~exp=1737043755~hmac=9fc4ec571f052549472877225fb29dfa10d609cbcf5a91223ffba407bc289bed&w=1380'); /* Pfad zum Hintergrundbild */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


.spiel{
    width: 100%;
}

.grid-container {
    display: grid;
    background-color: rgb(32, 37, 42, 0);
    padding: 2.5px 5px;
}
.grid-container > div {
    
    text-align: center;
    font-size: 20px;
}

.statusanzeige{
    height: 7.5vh;
    grid-template-columns: 40% 20% 40%;
}


.health{
    width: 100%;
    height: 50%;
    border: 2px black solid;
    background-color: red;
    color: black;
    text-align: center;
    
}
.health>p{
    position: relative;
    z-index: 9;
}

.healthgreen{
    position: relative;
    bottom: 23px;
    height: 100%;
    background-color: yellowgreen;
    color: black;
    
}
.healthred{
    border: 2px black solid;
    background-color: red;
    color: black;
}




.turndiv{
    height: 7.5vh;
    grid-template-columns: 40% 20% 40%;
}

.spielfeld{
    height: 44vh;
    grid-template-columns: 40% 20% 40%
}

.info{
    height: 5vh;
    grid-template-columns: 40% 20% 40%;
}



.hand{
    border-top: 4px solid black;
    height: 30vh;
    grid-template-columns: 10% 16% 16% 16% 16% 16% 10%;
    background-color: rgb(46, 56, 67, 1);
    
}

.card {
    cursor: pointer;
    text-decoration: none;
}


.card{
    
    height: 28vh;
    width: 9vw;
    border-radius: 20px;
    border: 4px black solid;
    background-color: rgb(51, 77, 105);
    margin: auto;
    margin-top: 1vh;
    padding: .5vh;

}
.cardheader{
    height: 3vh;
    display: grid;
    grid-template-columns: 75% 25%;
}
.cardname{
    text-align: left;
}
.cardenergie{
    text-align: right;
}

.img_container{
    border: 2px black solid;
    display: grid;
    background-color: rgb(25, 48, 72);
    grid-template-columns: 100%;
    height: 12vh;
    

}
.img_container {
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}

.img_container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.eff{
    display: grid;
    /* background-color: rgb(2, 51, 102); */
    grid-template-columns: 100%;
    height: 3.4vh; 
}

.pointer{
    cursor: pointer;

}
.box a{
    color: rgb(224, 203, 166);
    text-decoration: none;
    height: 255px;
    display: block;
}

.c1 {
 
    position: relative;
    bottom: 264px;
    background-color: rgba(46, 56, 67, .1);
    border: none;
}

.c1-active {
    position: relative;
    bottom: 264px;
    background-color: rgba(46, 56, 67, 1);
    border: none;
}

.c2 {

    position: relative;
    bottom: 264px;
    background-color: rgba(46, 56, 67, .1);
    border: none;
}
.c3 {

    position: relative;
    bottom: 264px;
    background-color: rgba(46, 56, 67, .1);
    border: none;
}
.c4 {

    position: relative;
    bottom: 264px;
    background-color: rgba(46, 56, 67, .1);
    border: none;
}
.c5 {
    position: relative;
    bottom: 264px;
    background-color: rgba(46, 56, 67, .1);
    border: none;
}





.gamemenu {
  padding: 0px;
  width: 100%;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 0; */

  align-items: center;
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  margin-top: 0vh;
}
.gamemenu a {
  justify-content: center;
  display: flex;
  font-size: 18px;

  margin: 0px;
  color: rgb(255, 255, 255);
  background-color: rgba(100, 100, 100, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  text-decoration: none;
  transition: all 0.4s ease;
}











/* .spielfeld{
    height: 95.4vh;
} */

/* .statusanzeige{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.flex40{
    width: 40%;
}
.flex20{
    width: 20%;
} */